body {
    background: gray;
    color: white;
}
.chooseBox {
    background: #383d39;
    width: 600px;
    height: 220px;
}
.inputClass {
    position: relative;
}
.X {
    font-size: 60px;
    color: yellow;
    background: #262927;
    border: 0;
    margin-right: 5px;
    width: 95px;
    height: 95px;
}
.X:hover {
    background: #717780;
}
.O {
    font-size: 60px;
    color: lightblue;
    background: #262927;
    border: 0;
    margin-left: 5px;
    width: 95px;
    height: 95px;
}
.O:hover {
    background: #717780;
}


/*   Wendy's CSS */
.theBoard{

    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 0px;
    margin: auto;
    position: relative;
 
}
span{
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 60px;
    color: #666361;
    
    cursor: pointer;
}

.white, .black{
    width: 100px;
    height: 100px;
    background-color: grey;
    display: flex;
   justify-content: center;

}
.restartBtn {
    margin-top: 50px;
}
.c1 {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.c12 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.c13 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.c21 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.c22 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.c23 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.c31 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.c32 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;   
}
.c33 {
    border-left: 1px solid black;
    border-top: 1px solid black;
}